.home-container {
  padding: 24px;
  background-color: #f0f2f5;
  min-height: 100vh;
}

.recharts-text {
  font-size: 14px !important;
  font-weight: 600 !important;
  fill: #1e293b !important;
  /* dark gray text */
}